In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/jomachase/Documents/Ironhack/Miniproject/MiniProject4/first_project/data/raw/Berlin_Marathon_data_1974_2019.csv")
df

/var/folders/2n/vdp8fcl915n4gbp1vcj_4vgw0000gp/T/ipykernel_3053/1237159803.py:1: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/jomachase/Documents/Ironhack/Miniproject/MiniProject4/first_project/data/raw/Berlin_Marathon_data_1974_2019.csv")

        YEAR COUNTRY GENDER   AGE      TIME
0       1974     NaN   male    L1  02:44:53
1       1974     NaN   male    L2  02:46:43
2       1974     NaN   male    L2  02:48:08
3       1974     NaN   male     L  02:48:40
4       1974     NaN   male    L1  02:49:01
...      ...     ...    ...   ...       ...
884939  2019     GER   male  65.0  07:12:17
884940  2019     GER   male  75.0  07:12:30
884941  2019     GER   male  80.0  07:15:28
884942  2019     USA   male  30.0  07:19:28
884943  2019     GER   male  60.0  07:26:09

[884944 rows x 5 columns]

In [26]:
df["YEAR"].sort_values()

0         1974
155       1974
156       1974
157       1974
158       1974
          ...
864405    2019
864404    2019
864403    2019
864491    2019
884943    2019
Name: YEAR, Length: 884944, dtype: int64

In [3]:
best_row = male.sort_values('TIME').head(1)
best_row[['YEAR', 'COUNTRY', 'TIME']]

NameError: name 'df' is not defined