In [1]:
import os, sys
sys.path.append(os.path.abspath(".."))

from src.functions import (
    load_config, read_csv_from_config, print_shape
)

# Load config.yaml
config = load_config("../config.yaml")

# Load datasets from config
df_data = read_csv_from_config(config, "marathon_data", low_memory=False)
df_winners = read_csv_from_config(config, "marathon_winners", low_memory=False)

# Verify
print_shape(df_data, "Data")
print_shape(df_winners, "Winners")

In [5]:
import pandas as pd
import yaml
with open("../config.yaml", "r") as f:
    config = yaml.safe_load(f)

df = pd.read_csv(config["input_data"]["marathon_data"],low_memory=False)
df

        YEAR COUNTRY GENDER AGE      TIME
0       1974     NaN   male  L1  02:44:53
1       1974     NaN   male  L2  02:46:43
2       1974     NaN   male  L2  02:48:08
3       1974     NaN   male   L  02:48:40
4       1974     NaN   male  L1  02:49:01
...      ...     ...    ...  ..       ...
884939  2019     GER   male  65  07:12:17
884940  2019     GER   male  75  07:12:30
884941  2019     GER   male  80  07:15:28
884942  2019     USA   male  30  07:19:28
884943  2019     GER   male  60  07:26:09

[884944 rows x 5 columns]

In [6]:
with open("../config.yaml", "r") as f:
    config = yaml.safe_load(f)

df = pd.read_csv(config["input_data"]["marathon_winners"],low_memory=False)
df.head()

,YEAR,MEN_WINNER,MEN_COUNTRY,MEN_TIME,WOMEN_WINNER,WOMEN_COUNTRY,WOMEN_TIME
0,1974,Günter Hallas,West Germany,2:44:53,Jutta von Haase,West Germany,3:22:01
1,1975,Ralf Bochröder,West Germany,2:47:08,Kristin Bochröder,West Germany,2:59:15
2,1976,Ingo Sensburg,West Germany,2:23:08,Jutta von Haase,West Germany,3:05:19
3,1977,Günter Mielke,West Germany,2:15:19,Christa Vahlensieck,West Germany,2:34:48
4,1978,Michael Spöttel,West Germany,2:20:03,Ursula Blaschke,West Germany,2:57:09