In [ ]:
import pandas as pd

In [ ]:
import yaml

In [ ]:
try : 
    with open ("../config.yaml", "r") as file:
        config=yaml.safe_load(file)
except :
    print("File is not found.")

In [ ]:
config

In [ ]:
file_path = config['input_data']['file']

df = pd.read_csv(
    file_path, low_memory=False,
    dtype={
        "ColumnName1": str,   # force text
        "ColumnName3": float  # force numeric
    }
)

In [ ]:
df

In [ ]:
year_unique = df['YEAR'].unique()
year_unique

In [ ]:
country_unique = df['COUNTRY'].unique()
country_unique

In [ ]:
gender_unique = df['GENDER'].unique()
gender_unique

In [ ]:
age_unique = df['AGE'].unique()
age_unique

In [ ]:
# Percentage of null values per column

null_percentage = (df.isnull().sum() / len(df)) * 100

print(null_percentage)

In [ ]:
print(df.dtypes)

In [ ]:
# Convert to timedelta

import numpy as np

In [ ]:
#df['TIME'] = pd.to_timedelta(df['TIME'])

#print(df)
#print(df.dtypes)

# gave an error saying: ValueError: Could not convert 'no time' to NumPy timedelta
# delet all the rows with 'no time'